---
date: Last Modified
---
{% include "head_open.html" %}

<style>
    .no-select {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    }
</style>

<!-- Page styles and script -->
<link rel="stylesheet" href="style.css">
<script src="script.js"></script>

{% include "head_close.html" %}

<!-- scroll helper is used to show/hide the header when scrolling -->
<body data-ui-load="@lib/controllers/scroll_helper"
      data-ui-context="scroll-helper"
      data-ui-options="scroll_opts">

<header data-ui-field="header" layout="row center-left" class="mdl-shadow--2dp">
    <div self="size-large center" layout="row center-left">
        <div self="size-x1">
            <h1>DrawerLayout</h1>
        </div>
        <div data-ui-load="@lib/components/hamburger_icon"
             data-ui-context="menu_hamburger"
             data-ui-options="menuButtonOptions"
             self="center-right"></div>
    </div>
</header>

<main>

    {{ content }}

</main>

<!-- Navigation Drawer -->
<div data-ui-load="@lib/controllers/drawer_layout"
     data-ui-context="menu-drawer"
     data-ui-options="drawer_opts"
     class="drawer-layout no-select"
     layout="column top-stretch">
    <!-- Navigation Drawer content -->

    <!-- Header -->
    <div class="drawer-header" layout="column bottom-stretch">
        <img src="/images/profile-icon.png">
        <div class="title">Example Drawer</div>
        <div class="subtitle">https://glabs.it</div>
    </div>

    <!-- Menu items and other content -->
    <div class="drawer-content" self="size-x1">
        <ul>
            <li>
                <a href="#" layout="row center-left"><i class="material-icons">photo_camera</i> <span>Import</span></a>
            </li>
            <li>
                <a href="#" layout="row center-left"><i class="material-icons">perm_media</i> <span>Gallery</span></a>
            </li>
            <li>
                <a href="#" layout="row center-left"><i class="material-icons">slideshow</i> <span>Slideshow</span></a>
            </li>
            <li>
                <a href="#" layout="row center-left"><i class="material-icons">build</i> <span>Tools</span></a>
            </li>
        </ul>
    </div>

</div>

<!--TODO: { - % include "footer.html" % - } -->
<p>Published on: {{ page.date }}</p>

{% include "body_end.html" %}

<!-- Common JS scripts -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/styles/androidstudio.min.css">
<script>
  // Escape HTML in 'code' blocks
  document.querySelectorAll("code").forEach(function(element) {
    element.innerHTML = element.innerHTML/*.replace(/&/g, "&amp;")*/.replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/"/g, "&quot;").replace(/'/g, "&#039;");
  });
  // AnimateCSS
  zuix.using('component', '@lib/extensions/animate_css');
  // Code highlighting
  zuix.using('script', 'https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/highlight.min.js', function () {
    zuix.$('pre code').each(function(i, block) {
      hljs.highlightBlock(block);
    });
  });
</script>

</body>
</html>
